@import '@vuepress/plugin-palette/palette';

$font-family-base: -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif !default;
$font-size-base: 1em;
$line-height-base: 2;
$font-family-headings: $font-family-base !default;
$font-family-title: $font-family-base !default;
