@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '_var.css';
@import 'icon.css';

html {
  @apply leading-[1.15];
  @apply h-full;
}

body {
  @apply h-full;
  @apply text-[1em];
  @apply leading-loose;
  color: var(--text-color);
}

#app {
  @apply min-h-full;
  @apply min-w-full;
  @apply relative;
  @apply flex;
  @apply flex-col;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Mulish, 'Noto Serif SC', 'Noto Serif JP', Mulish, -apple-system,
  'PingFang SC', 'Microsoft YaHei', sans-serif;
  font-weight: 700;
  line-height: 1.5;
  margin: 1.25rem 0 0.9375rem;
}

iframe, img, video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

a {
  border: none;
  color: currentColor;
  outline: 0;
  text-decoration: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

:not(pre) > code {
  color: var(--primary-color);
  border-radius: 0.3rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.1);
  background-color: var(--grey-0);
  padding: 0.2rem 0.3rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

::selection {
  background: var(--color-orange);
  color: var(--grey-2);
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0.3125rem;
  height: 0.3125rem;
  background: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 0.3125rem;
  background: transparent;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

::-webkit-scrollbar-button {
  background: transparent;
  height: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 1.25rem;
  background-clip: padding-box;
  background-color: var(--grey-3);
  background-image: linear-gradient(
    45deg,
    var(--grey-1-a5) 25%,
    transparent 0,
    transparent 50%,
    var(--grey-1-a5) 0,
    var(--grey-1-a5) 75%,
    transparent 0,
    transparent
  );
}

@font-face {
  font-family: 'ic';
  src: url('//at.alicdn.com/t/font_1832207_igi8uaupcus.eot');
  src: url('//at.alicdn.com/t/font_1832207_igi8uaupcus.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1832207_igi8uaupcus.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1832207_igi8uaupcus.woff') format('woff'),
  url('//at.alicdn.com/t/font_1832207_igi8uaupcus.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1832207_igi8uaupcus.svg#ic') format('svg');
}

.ic {
  font-family: 'ic' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 1.25em;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.ic em {
  font-size: 0;
}

.ic-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}
